<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스마트 pt</title> 
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="menu">
 <div class= "menu-right-item">
  <div class="menu-item"> 메뉴1 </div>
  <div class="menu-item"> 메뉴2 </div>
  <div class="menu-item"> 메뉴3 </div>
  <div class="menu-item"> 메뉴4 </div>
  </div>
  </div>
  
  <form>
    
    <input type="text" placeholder="이메일"/>
    <input type="text" placeholder="비밀번호" />
    <button>회원가입</button>
  </form>
  
  <select name="name">
    <option value="남">팔굽혀펴기</option>
    <option value="남">윗몸일으키기</option>
  </select>
  <div class ="main">
   <div class="pricing-item"> Pricing </div>
   <div class="quickly-item"> 
     Quickly build an effective pricing table for your potential customers with this 
     Bootstrap example. It's built with default Bootstrap components and utilities 
     with little customization. 
   </div>
   <div class ="price"> 
    <div class="price-item">
      <div class="price-item-title">체형분석 </div> 
       <div class="price-item-price"> $0 / mo </div>
         <div class="price-item-detail"> 10 users included</div>
         <div class="price-item-detail"> 2 GB of storage</div>
         <div class="price-item-detail"> Email support</div>
         <div class="price-item-detail"> Help center access</div>
         <button class="price-item-button"> Sign up for free</button>
      </div>
    <div class="price-item">
      <div class="price-item-title">팔굽혀펴기 </div> 
       <div class="price-item-price"> $15 / mo </div>
        <div class="price-item-detail"> 20 users included 10 
        GB of storage Priority email support Help center 
        access </div>
        <button class="price-item-button"> Sign up for free</button>
      </div> 
    <div class="price-item">
      <div class="price-item-title">윗몸일으키기 </div> 
       <div class="price-item-price"> $29 / mo </div>
        <div class="price-item-detail"> 30 users included 15 
        GB of storage Phone and email support Help center 
        access </div>
        <button class="price-item-button">
        <a href="https://replit.com/@cndgus3066/hi5#index.html/" target="_blank">Sign up for free</a>
        </button>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>